<div class="selection">
    <div class="selection__content">
        <div class="selection__content__item">
            <a href="#" class="selection__content__item--link" routerLink="/incomespandanalysis">
                <img src="assets/img/icon/income-spend.svg" alt=""><br>
                <span>收支分析</span>
            </a>
        </div>
        <div class="selection__content__item">
            <a href="#" class="selection__content__item--link" routerLink="/monthbill">
                <img src="assets/img/icon/bill.svg" alt=""><br>
                <span>月度账单</span>
            </a>
        </div>
        <div class="selection__content__item">
            <a href="#" class="selection__content__item--link" routerLink="/mybillbook">
                <img src="assets/img/icon/account_book.svg" alt=""><br>
                <span>我的账本</span>
            </a>
        </div>
        <div class="selection__content__item">
            <a href="#" class="selection__content__item--link" routerLink="/serachtransaction">
                <img src="assets/img/icon/search.svg" alt=""><br>
                <span>查找交易</span>
            </a>
        </div>
    </div>
</div>