.subnav{
    position: relative;
    height: 40px;
    max-width: 960px;
    margin:0 auto;
    &__content{
        position: fixed;
        top:60px;
        width: 100%;
        max-width: 960px;
        z-index: 1;

        &__wrap {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            background-color: #fff;
            &--item {
                position: relative;
            }


            &--link{
                position: relative;
                padding-right: 15px;
                text-decoration: none;
                line-height: 40px;
                color: #3a3a3a;                
                &::after{
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 50%;
                    border: 0.4em solid transparent;
                    content: ' ';
                    border-top-color: #3a3a3a;
                    transform: translateY(-25%);
                }
            }
        }

        &__sublist {
            &--item {
                display: none;
                width: 50%;
                padding-left: 10px;
                border: 1px solid #3d3d3d;
                border-radius: 3px;
                background-color: #fff;
                box-sizing: border-box;                

                &.front{
                    float: left;
                }

                &.end {
                    float: right;
                }

                &.active {
                    display: block;
                }

                ul>li{
                    padding-top: 5px;
                    &:last-child {
                        padding-bottom: 5px;
                    }
                }
            }
            &::before, &::after{
                content: "";
                display: table;            
            }
            &::after{
                clear: both;
            }
        }
    }
}