<div class="subnav">
    <div class="subnav__content">
        <div class="subnav__content__wrap">
            <div class="subnav__content__wrap--item">
                <a class="subnav__content__wrap--link" href="javascript:void(0);" (click)="toggleMonthActiveState()">{{currentMonthList[monthIndex]}}</a>
            </div>
            <div class="subnav__content__wrap--item">
                <a class="subnav__content__wrap--link" href="javascript:void(0);" (click)="toggleAccountActiveState()">全部账户</a>
            </div>
        </div>
        <div class="subnav__content__sublist">
            <div class="subnav__content__sublist--item front" [ngClass]="{'active':monthActiveState}">
                <ul>
                    <li *ngFor="let monthitem of currentMonthList; let i= index" (click)="changeMonth(i)">{{monthitem}}</li>
                </ul>    
            </div>
            <div class="subnav__content__sublist--item end" [ngClass]="{'active':accountActiveState}">
                <ul>
                    <li (click)="changeAccount()">账户1</li>
                    <li (click)="changeAccount()">账户2</li>
                </ul>
            </div>
        </div>

    </div>  
</div>